* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eeeeee;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

/* Headline */
.headline-wrap {
  padding-top: 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}

.headline-title {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
}

.headline-title::after {
  content: "";
  display: block;
  width: 400px;
  height: 35px;
  margin: 0 auto;
  background: url('../img/line.png') no-repeat 50% 40%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.headline-subtitle {
  max-width: 550px;
  margin: 0 auto;
  line-height: 24px;
  font-weight: 400;
}
/* Headline */

/* Main Button */
.main-button {
  margin-right: 10px;
  padding: 10px 30px;
  border: none;
  background: #eeeeee;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
}

.main-button:hover {
  background: #e10011;
  color: #fff;
}
/* End Main Button */

/* Header */
.main-header {
  padding: 50px 0;
  font-size: 0;
}

.header-logo,
.header-nav {
  display: inline-block;
  vertical-align: middle;
}

.header-logo {
  max-width: 275px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.25px;
}

.header-nav {
  width: calc(100% - 275px);
  text-align: right;
}

.header-nav li {
  margin: 0 20px;
  font-size: 18px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-logo a,
.header-nav a {
  color: #000;
}

.header-nav a:hover {
  text-decoration: underline;
  color: #e10011;
}
/* End Header */

/* Section Hero */
.hero-wrap {
  padding: 55px 0 75px 0;
  font-size: 0;
}

.hero-text,
.hero-img {
  display: inline-block;
  vertical-align: top;
}

.hero-text {
  max-width: 615px;
  padding-right: 10px;
  text-align: right;
}

.hero-img {
  width: calc(100% - 615px);
  text-align: center;
}

.hero-text h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 150px;
  line-height: 135px;
}

.hero-subtitle {
  display: inline-block;
  padding: 50px 0 30px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.hero-link {
  font-size: 24px;
  font-weight: 700;
  color: #e10011;
}

.hero-link:hover {
  text-decoration: underline;
}
/* End Section Hero */

/* Section Slider */
.slider .headline-wrap {
  padding: 50px 0;
}

.slider-wrap {
  position: relative;
  text-align: center;
  /* width: 900px;
  margin: 0 auto; */
  padding: 50px;
  outline: none;
}

.slider-item {
  margin: 0 30px;
}

.slider-item a {
  outline: none;
}

.slider .slick-dots {
  bottom: -25px;
}

.slider .slick-dots li button:before {
  font-size: 10px;
}

.slider .slick-dots li.slick-active button:before {
  color: #e10011;
}

.slider .slick-initialized .slick-slide {
  outline: none;
}
/* End Slider */

/* Main */

/* Products  */
.products-gallery {
  background: #fff;
}
/* Products Gallery */
.products-gallery {
  padding: 70px 70px 35px;
  font-size: 0;
}

.products-item {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 35px;
  padding: 0 17px;
  vertical-align: top;
}

.products-item:first-child {
  width: calc(100% - 33.33%);
}

.left .products-item:last-child {
  margin-left: 34px;
}

.products-item img {
  border-radius: 5px;
}

.products-item a {
  position: relative;
}

/* Tooltip */
.tooltip-text {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  background: #e10011;
}

.tooltip-title,
.tooltip-desc {
  position: absolute;
  display: block;
  left: 30px;
}

.tooltip-title {
  bottom: 60px;
}

.tooltip-desc {
  bottom: 20px;
}

.tooltip-desc::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 5px;
  background: #fff;
}

.products-item:hover .tooltip-text {
  display: block;
}
/* End Tooltips */

/* End Main */

/* Promo */
.controls {
  text-align: center;
}

.active {
  background: #e10011;
  color: #fff;
}

.promo-wrap {
  margin-top: 50px;
  padding: 50px 5px;
  background: #fff;
}

.promo-items-wrap {
  padding: 50px 0 0;
  font-size: 0;
}

.mix {
  display: none;
  width: 25%;
  padding: 5px;
}

.mix a {
  position: relative;
}

.promo .tooltip-title {
  left: 46px;
  top: 50px;
}

.promo .tooltip-desc {
  left: 100px;
  bottom: 31px;
}

.promo .tooltip-desc::after {
  width: 70px;
}

.promo-items-wrap .mix:hover .tooltip-text {
  display: block;
}
/* End Promo */

/* Section News */
.news {
  padding: 100px 0 80px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.news-title {
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 48px;
  line-height: 30px;
}

.news-subtitle {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
}

/* Subscribe Form */
.subscribe-form {
  position: relative;
  width: 700px;
  margin: 0 auto;
  border-radius: 61px;
  background: #fff;
  font-size: 0;
}

.subscribe-form input {
  width: 495px;
  padding: 30px 0 30px 65px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 61px 0 0 61px;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #979797;
}

.subscribe-form button {
  display: inline-block;
  width: calc(100% - 495px);
  padding: 30px 0;
  border-left: none;
  border-radius: 0 61px 61px 0;
  background: #e10011;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.icon-letter {
  position: absolute;
  top: 31px;
  left: 34px;
  font-size: 21px;
  color: #979797;
}
/* End Section News */

/* Footer */
.main-footer {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.footer-socials {
  padding: 30px 0 65px 0;
}

.footer-socials a {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 18px 0;
  border-radius: 50%;
  background: #fff;
}

.footer-socials i {
  font-size: 34px;
  color: #979797;
}

.footer-socials li:hover i {
  color: #000;
}

.footer-info {
  padding-bottom: 30px;
  color: #979797;
  font-size: 18px;
  font-weight: 300;
}

.footer-info a {
  font-weight: 400;
  color: #000;
}

.footer-info a:hover {
  text-decoration: underline;
}
/* End Footer */